body {
  font-family: sans-serif;
  background-color: #e3e2f3;
}
.animal-left {
  width: 45%;
  float: left;
  padding: 15px;
}
.animal-right {
  width: 45%;
  float: left;
  padding: 15px;
}

.navigation {
  float: left;
  margin: 15px;
}

.navigation2 {
  /*float: left;*/
  margin: 15px;

}

.header {
  text-align: center;
  font-style: oblique;
  color: white;
  font-size: 32px;
  background-image: url("../img/pan.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid skyblue;
  border-radius: 10px;
  margin-bottom: 25px;
}

.animals {
  overflow: hidden;
  padding-left: 10%;
  margin-bottom: 2%;
}
.mnl {
  height: 300px;
  width: 400px;
  border-radius: 10%;
  transition: .25s;
}

.mnl:hover {
  transform: rotate(-7.5deg) scale(1.15);
  transition: 1s;
  /*transform: scale(2);*/
}
.animals h3 {
  font-family: monospace;
  font-style: italic;
  font-weight: 900;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lightgrey;
  border: 2px solid skyblue;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  transition: .5s;
  font-size: 20px;
}
li a:hover {
  transition: .5s;
  background-color: peachpuff;

}
.contact {
  text-align: center;
  /*float: left;*/
  width: 100%;
  padding: 20px;
  margin: 10px;
}


footer {
  margin: 2%;
  text-align: center;
  color: grey;
}

#steve {
  height: 25%;
  width: 25%;
  border-radius: 100%;
}
#steve:hover {
  transform: rotate(1080deg);
  transition: 60s;
}
#header {
  /*background-color: rgba(100, 100, 100, 0.5);
  border-radius: 100%;
  border: 1px dotted grey;
  background-size: auto;*/
  text-shadow: 5px 5px black

}
