body {
  font-family: sans-serif;
  background-color: #e3e2f3;
}
.animal-left {
  width: 45%;
  float: left;
  padding: 15px;
}
.animal-right {
  width: 45%;
  float: left;
  padding: 15px;
}

.navigation {
  float: left;
  margin: 15px;

}

.header {
  text-align: center;
  font-style: oblique;
  color: white;
  font-size: 32px;
  background-image: url("../img/pan.jpg");
  image-resolution: snap;
  border: 10px solid skyblue;
  border-radius: 10px;
}

.animals {
  overflow: hidden;
  padding-left: 10%;
  margin-bottom: 2%;
}
.mnl {
  height: 300px;
  width: 400px;
  border-radius: 10%;
  transition: 2.5s;
}

.mnl:hover {
  transform: rotate(360deg);
  transition: 5s;
}
.animals h3 {
  font-family: monospace;
  font-style: italic;
  font-weight: 900;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lightgrey;
  border: 2px solid skyblue;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  transition: .5s;
  font-size: 20px;
}
li a:hover {
  transition: .5s;
  background-color: peachpuff;
}

footer {
  margin: 2%;
  text-align: center;
  color: grey;
}
.contact {
  text-align: center;
}
